$primary-black: #000000;
$light-black: #00000080;
$shade-black: #272d4e;
$primary-white: #ffffff;
$shade-white: #eeeeee;
$primary-green: #2C665D;
$light-red: #ffe1e1;
$primary-blue: #24578c;
$light-blue: #d9ffff;
$primary-ash: #F5F5F5;
$primary-grey: #EBEBEB;
